@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  margin:0 auto;
  padding: 0;
  box-sizing: border-box;
  background:no-repeat ;
  background-position-y: 40%;
  background-position-x: 50%;
  

  /* background: center  no-repeat  ; */
  background-image: url('../public/wallpaperflare.com_wallpaper\ \(1\).jpg');
  /* height: 100%; */
  
 
}
